<div class="d-flex">
  <div class="form-inline mr-auto">
    <div class="form-group mb-2">
      <label class="mr-2">Filtro por Tema:</label>
      <input type="text" class="form-control mr-2" placeholder="buscar" [(ngModel)]="filterList" />
      <button class="btn btn-outline-success">
        Buscar
      </button>
    </div>
  </div>
  <div>
    <button class="btn btn-outline-primary" (click)=newEvent(template)>
      <em class="fa fa-plus-circle"></em>&nbsp;
      Novo Evento
    </button>
  </div>
</div>
<table class="table table-striped">
  <thead class="tread-dark">
    <tr>
      <th>
        <button (click)="setShowImage()" class="btn btn-outline-default">
          <em class="{{ showImage ? 'fa fa-eye-slash' : 'fa fa-eye' }}"></em>
        </button>
      </th>
      <th>#</th>
      <th>Tema</th>
      <th>Local</th>
      <th>Data</th>
      <th>Pessoas</th>
      <th>Lote</th>
      <th>Opções</th>
    </tr>
  </thead>
  <tbody *ngIf="events && events.length">
    <tr *ngFor="let event of eventsFiltered">
      <td>
        <img src='/ProAgil-App/src/assets/{{event.imageUrl}}'
          [style.widht.px]="imageHeight"
          [style.margin.px]="imageMargim" />
      </td>
      <td>{{ event.id }}</td>
      <td>{{ event.theme }}</td>
      <td>{{ event.locale }}</td>
      <td>{{ event.dateEvent | DateTimeFormat }}</td>
      <td>{{ event.amountPeople }}</td>
      <td>
        <div *ngIf="!event.lots.length">
          Não informado.
        </div>
        <div *ngIf="event.lots.length">
          {{ event.lots[0].name | uppercase }}
        </div>
      </td>
      <td>
        <div class="btn-group">
          <button class="btn btn-sm btn-success" tooltip="Editar" (click)="setUpdateEventInModal(event, template)">
            <em class="fa fa-edit"></em>
          </button>
          <button class="btn btn-sm btn-danger" (click)="setDeleteEventInModal(event, confirm)" tooltip="Excluir">
            <em class="fa fa-eraser"></em>
          </button>
        </div>
      </td>
    </tr>
  </tbody>
  <tfoot *ngIf="!events">
    <tr>
      <td colspan="7" class="text-center">
        <h3>Nenhum evento encontrado!</h3>
      </td>
    </tr>
  </tfoot>
</table>

<div bsModal #template="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-sizes-name1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-sizes-name1" class="modal-title pull-left">Large modal</h4>
        <button type="button" class="close pull-right" (click)="template.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="registerForm">
          <div class="form-row">
            <div class="form-group col-md-12">
              <label>Tema</label>
              <input type="text" [ngClass]="{
                'is-invalid':
                  registerForm.get('theme').errors &&
                  registerForm.get('theme').touched
              }" class="form-control" formControlName="theme" placeholder="Insira o tema" />
              <div *ngIf="
                registerForm.get('theme').hasError('required') &&
                registerForm.get('theme').touched" class="invalid-feedback">
                Campo obrigatório!
              </div>
              <div *ngIf="
                registerForm.get('theme').hasError('minlength') &&
                registerForm.get('theme').touched
              " class="invalid-feedback">
                Mínimo de 4 caracteres!
              </div>
              <div *ngIf="
                registerForm.get('theme').hasError('maxlength') &&
                registerForm.get('theme').touched
              " class="invalid-feedback">
                Máximo de 50 caracteres!
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-8">
              <label>Local</label>
              <input type="text" [ngClass]="{
                'is-invalid':
                  registerForm.get('locale').errors &&
                  registerForm.get('locale').touched
              }" class="form-control" formControlName="locale" placeholder="Insira o local" />
              <div *ngIf="
                registerForm.get('locale').hasError('required') &&
                registerForm.get('locale').touched" class="invalid-feedback">
                Campo obrigatório!
              </div>
            </div>

            <div class="form-group col-md-4">
              <label>Data e Hora</label>
              <input type="text" bsDatepicker [bsConfig]="{ dateInputFormat : 'DD/MM/YYYY hh:mm a' }" [ngClass]="{
                'is-invalid':
                  registerForm.get('dateEvent').errors &&
                  registerForm.get('dateEvent').touched
              }" class="form-control" formControlName="dateEvent" />
              <div *ngIf="
                registerForm.get('dateEvent').hasError('required') &&
                registerForm.get('dateEvent').touched
              " class="invalid-feedback">
                Campo obrigatório!
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-3">
              <label>Qtd de Pessoas</label>
              <input type="text" [ngClass]="{
                'is-invalid':
                  registerForm.get('amountPeople').errors &&
                  registerForm.get('amountPeople').touched
              }" class="form-control" formControlName="amountPeople" />
              <div *ngIf="
                registerForm.get('amountPeople').hasError('required') &&
                registerForm.get('amountPeople').touched
              " class="invalid-feedback">
                Campo obrigatório!
              </div>
            </div>

            <div class="form-group col-md-9">
              <label>Imagem</label>
              <input type="text" [ngClass]="{
                'is-invalid':
                  registerForm.get('imageUrl').errors &&
                  registerForm.get('imageUrl').touched
              }" class="form-control" formControlName="imageUrl" />
              <div *ngIf="
                registerForm.get('imageUrl').hasError('required') &&
                registerForm.get('imageUrl').touched
              " class="invalid-feedback">
                Campo obrigatório!
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-4">
              <label>Telefone</label>
              <input type="text" [ngClass]="{
                'is-invalid':
                  registerForm.get('phone').errors &&
                  registerForm.get('phone').touched
              }" class="form-control" formControlName="phone" />

              <div *ngIf="
                registerForm.get('phone').hasError('required') &&
                registerForm.get('phone').touched
              " class="invalid-feedback">
                Campo obrigatório!
              </div>
            </div>

            <div class="form-group col-md-8">
              <label>Email</label>
              <input type="text" [ngClass]="{
                'is-invalid':
                  registerForm.get('email').errors &&
                  registerForm.get('email').touched
              }" class="form-control" formControlName="email" placeholder="Insira seu email" />

              <div *ngIf="
                registerForm.get('email').hasError('required') &&
                registerForm.get('email').touched" class="invalid-feedback">
                Campo obrigatório!
              </div>
              <div *ngIf="
                registerForm.get('email').hasError('email') &&
                registerForm.get('email').touched" class="invalid-feedback">
                Formato de email inválido!
              </div>
            </div>
          </div>
        </form>
      </div>

      <div class="modal-footer d-flex">
        <button class="btn btn-sm btn-secondary" (click)="template.hide()">
          Fechar
        </button>

        <button [disabled]="!registerForm.valid" class="btn btn-sm btn-primary ml-auto" (click)="saveForm(template)">
          Salvar Alterações
        </button>
      </div>

    </div>
  </div>
</div>

<div bsModal #confirm="bs-modal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Deletando Evento</h4>
        <button type="button" class="close pull-right" (click)="confirm.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <p>{{bodyDeleteEvent}}</p>
      </div>
      <div class="modal-footer btn-group d-flex">
        <button type="button" class="btn btn-outline-primary" (click)="confirm.hide()">
          CANCELAR
        </button>
        <button type="button" class="btn btn-outline-danger" (click)="deleteEvent(confirm)">
          DELETAR
        </button>
      </div>
    </div>
  </div>
</div>
